body {
    font-family: times new roman;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
  }

  header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
    font-size:50px;
  }

  .blog-post {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .blog-post img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  h1, h2{
    color: #333;
  }

  p {
    color: #555;
    line-height: 1.6;
  }

  footer {
    margin-top: 20px;
    color: #777;
    text-align: center;
  }
  .navigation{
    text-align: right;
  }
  a {color:rgb(134, 134, 212); text-decoration: none; background-color: rgb(10, 36, 92); padding: 10px; border-radius: 10px;}
  a:hover {color:#fdfdf7; text-decoration: none;}
  a:active{color:white;}
