body {
    background-image: url('images/Samsung-transparent-smartphone-Letsgodigital-image-4-355x274.webp');
    background-size: cover;
    background-position:center;
    backdrop-filter: blur(50px);
    background-color: hwb(0 0% 98% / 0.992);
    color:darkblue;
    font-size:30px;
    font-family: times new roman;
    margin:0;
    padding:0;
    text-shadow: red;
}

img{mix-blend-mode:normal;}
.fade-edge-image{position: relative; overflow:hidden;}
.fade-edge-image img {
    width: 60%;
    height: auto;
    display:block;
    mask-image:linear-gradient(to bottom, transparent, black, transparent);
    mask-size: 100% 100%;
    mask-position:center center;
  }
  .tablet{
    float:right;
  }
/* .container {
    float:right;
} */

.main-content {text-align:left;
}
section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0000;
    background-image: url('images/graphite-hero-zoom.webp');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    backdrop-filter: blur(100px);
    opacity: 1;
}
.navigation{
  text-align: right;
}
a {color:rgb(134, 134, 212); text-decoration: none; background-color: rgb(10, 36, 92); padding: 10px; border-radius: 10px;}
a:hover {color:#fdfdf7; text-decoration: none;}
a:active{color:white;}