body {
  background-color: beige;
  font-size: larger;
  font-family: sans-serif;
  color: darkblue;
  padding-right: 100;
  font-family: times new roman;
}
.navigation{
  text-align: right;
}
a {color:rgb(134, 134, 212); text-decoration: none; background-color: rgb(10, 36, 92); padding: 10px; border-radius: 10px;}
a:hover {color:#fdfdf7; text-decoration: none;}
a:active{color:white;}
h1{
  font-size: 50px;
  color: rgb(23, 26, 66);
}
img {
  mix-blend-mode: hard-light;
}

h2{color: rgb(6, 6, 59);}
